button {
  cursor: pointer;
}

.button {
  font-size: 18px;
  display: block;
  margin: 10px auto 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px 50px;
  background-color: rgb(180, 23, 23);
  border: none;
  color: white;
  border-radius: 5px;
}

.bottom-button {
  border-top: solid 2px rgb(180, 23, 23);
  padding-top: 30px;
  padding-bottom: 23px;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

.button-settings,
.button-highscore {
  margin: 0 20px 0;
  background-color: transparent;
  display: block;
  border: none;
  border-radius: 3px;
}

.button-settings,
.button-highscore img {
  width: 70px;
  height: 70px;
}

.button-thumbnail {
  margin: 0 5px 0;
  width: 70px;
  height: 70px;
  transform: scale(1);
  transition: all 250ms linear;
}

.button-thumbnail:hover {
  z-index: 1;
  transform: scale(2.5);
  transition: all 250ms linear;
  border: 1px solid red;
}

.button-arrow:hover {
  transition: transform 300ms linear;
  transform: scale(1.2);
}

.button-highscore,
.button-settings:hover {
  transition: all 250ms linear;
  transform: scale(1.2);
}

.button-thumbnail img {
  width: 100%;
  height: 100%;
}

.button-arrow {
  border: none;
  color: aliceblue;
  font-size: 30px;
  background-color: transparent;
  width: 50px;
  height: 60px;
}

.button-fly {
  border-radius: 10px;
  background-color: rgb(212, 30, 30);
  font-size: 50px;
  padding: 10px 80px;
}

.button-fly:hover {
  background-color: rgb(243, 0, 0);
}

.button-auto-play {
  color: black;
  background-color: rgb(211, 211, 4);
}

.button-auto-play:hover {
  background-color: rgb(247, 247, 8);
}

.button-add-rocket {
  color: black;
  background-color: rgb(176, 213, 255);
}

.button-add-rocket:hover {
  background-color: rgb(131, 184, 245);
}

.button-small {
  font-size: 12px;
  display: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  background-color: rgb(180, 23, 23);
  border: none;
  color: white;
  border-radius: 5px;
}
