* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.world {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
}

.ground {
  background-image: url(/assets/grass.png);
  background-position: center bottom;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
}

.rockets-container {
  width: 100%;
  z-index: 3;
  justify-content: center;
  position: absolute;
  display: flex;
  bottom: 0;
}

.rocket {
  width: 80px;
  height: 80px;
  background-size: contain;
  transition: transform 0.2s linear;
  background-repeat: no-repeat;
}

.modal {
  flex-direction: column;
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal-content {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border-radius: 5px;
  background-color: rgb(180, 23, 23);
  padding: 30px;
  border: 1px solid red;
}

#modal-2 .modal-content {
  background-color: black;
  padding: 30px;
}

#modal-3 .modal-content {
  background-color: black;
  padding: 30px;
}

#modal-4 .modal-content {
  background-color: black;
  padding: 30px;
}

.modal-open {
  display: flex;
}

.options-row {
  display: flex;
  align-items: center;
  margin: 10px;
}

.score-board p {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.modal-highscores {
  background-color: transparent;
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

.modal-rename {
  background-color: transparent;
}

.input-rename {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: red;
  height: 40px;
  border-radius: 10px;
  border: 2px solid red;
  margin: 30px 0;
}

.rocket:hover {
  transform: scale(1.2);
  transition: all 250ms linear;
}
